<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ndsbot.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ndsbot.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NDSBot</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$NDSBot</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="BotDataEntities1" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:ndsbotsqlserver.database.windows.net,1433;Initial Catalog=DBFIFA2018;Persist Security Info=False;User ID={your_username};Password={your_password};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BotData.mdf;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BotDataEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.BotData.csdl|res://*/Models.BotData.ssdl|res://*/Models.BotData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\BotData.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BotDataEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:ndsbotsqlserver.database.windows.net,1433;Initial Catalog=DBFIFA2018;Persist Security Info=False;User ID={your_username};Password={your_password};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BotData.mdf;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BotDataEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.BotData.csdl|res://*/Models.BotData.ssdl|res://*/Models.BotData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\BotData.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="NewStartersDBEntities1" Order="4" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FootballOne.Models.NewStartersDBEntities1, FootballOne" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="NewStartersDBEntities" Order="5" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\NewStartersDB.mdf;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\NewStartersDBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.StartersData.csdl|res://*/Models.StartersData.ssdl|res://*/Models.StartersData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\NewStartersDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FIFA2018Entities" Order="6" Enabled="False" xmlns="">
          <Destination Path="Data Source=tcp:ndsbotsqlserver.database.windows.net,1433;Initial Catalog=DBFIFA2018;Persist Security Info=False;User ID=NDSAdmin;Password=Reforma1190.;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:ndsbotsqlserver.database.windows.net,1433;Initial Catalog=DBFIFA2018;Persist Security Info=False;User ID=NDSAdmin;Password=Reforma1190.;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\FIFA2018.mdf;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FIFA2018Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.FIFA2018Model.csdl|res://*/Models.FIFA2018Model.ssdl|res://*/Models.FIFA2018Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\FIFA2018.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BotDataEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.BotData.csdl|res://*/Models.BotData.ssdl|res://*/Models.BotData.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:ndsbotsqlserver.database.windows.net,1433;initial catalog=DBFIFA2018;persist security info=False;user id={your_username};password={your_password};connect timeout=30;encrypt=True;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BotDataEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.BotData.csdl|res://*/Models.BotData.ssdl|res://*/Models.BotData.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:ndsbotsqlserver.database.windows.net,1433;initial catalog=DBFIFA2018;persist security info=False;user id={your_username};password={your_password};connect timeout=30;encrypt=True;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FIFA2018Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.FIFA2018Model.csdl|res://*/Models.FIFA2018Model.ssdl|res://*/Models.FIFA2018Model.msl;provider=System.Data.SqlClient;provider connection string="server=tcp:ndsbotsqlserver.database.windows.net,1433;initial catalog=DBFIFA2018;persist security info=False;user id=NDSAdmin;password=Reforma1190.;multipleactiveresultsets=False;encrypt=True;trustservercertificate=False;connection timeout=30;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NewStartersDBEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="FIFA2018Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.FIFA2018Model.csdl|res://*/Models.FIFA2018Model.ssdl|res://*/Models.FIFA2018Model.msl;provider=System.Data.SqlClient;provider connection string="Server=tcp:ndsbotsqlserver.database.windows.net,1433;Initial Catalog=DBFIFA2018;Persist Security Info=False;User ID=NDSAdmin;Password=Reforma1190.;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>